*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color:rgb(0,176,240); 
}
h1{
	text-align: center;
	color:white;
	font-family: cursive;
	font-size: 50px;
	margin: 50px 0px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
}
.top input{
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	outline: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	border-radius: 5px; 
}
.btn{
	background-color: white;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	outline: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	border-radius: 5px; 
	transition: .5s;
	cursor: pointer;
}
.btn:hover{
	background-color: rgb(0,176,240);
	color: white;
	border: 2px solid white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
#age{
	background: none;
	border: none;
	color: white;
	width:100%;
	font-size: 20px;
	text-align: center;
}
#month{
	font-size: 20px;
	outline: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	border: 2px solid black;
	border-radius: 5px; 
	padding: 10px;
	background-color:white;
}
@media only screen and (max-width: 600px) {
	h1{
		font-size: 45px;
	}
  }
